<!-- ============================================================== -->
<!-- Card Group Row -->
<!-- ============================================================== -->
<app-top-card2></app-top-card2>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<!--<div fxLayout="row wrap">
  &lt;!&ndash; column &ndash;&gt;
  <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-purchase></app-sales-purchase>
  </div>
  &lt;!&ndash; column &ndash;&gt;
  &lt;!&ndash; column &ndash;&gt;
  <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <app-visitor2></app-visitor2>
  </div>
  &lt;!&ndash; column &ndash;&gt;
  &lt;!&ndash; column &ndash;&gt;
  <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-yearly></app-sales-yearly>
  </div>
  &lt;!&ndash; column &ndash;&gt;

  &lt;!&ndash; column &ndash;&gt;
</div>-->
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<!--<div fxLayout="row wrap">
  &lt;!&ndash; Column&ndash;&gt;
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <app-developer-info></app-developer-info>
  </div>
  &lt;!&ndash; Column&ndash;&gt;
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-dashboard-emp></app-dashboard-emp>
  </div>
</div>-->
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<!--<div fxLayout="row wrap">
  &lt;!&ndash; Card column &ndash;&gt;
  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <app-comments></app-comments>
  </div>
  &lt;!&ndash; Card column &ndash;&gt;\
  &lt;!&ndash; Card column &ndash;&gt;
  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <app-message></app-message>
  </div>
</div>-->
